
input{
    width: 10em;
    padding-bottom: 10px;
}
.container{
    margin-top: 7em;
}
#search-button{
    padding: 5px;
}
#random{
    padding: 5px;
}

ul{
    list-style-type: none;
}
.radio-inline {
    padding: 20px;
}
.alert{
    color: blue;
}
ul {
    margin-top: 15px;
}
#search{
    padding: 12px;
}
#random{
    padding: 12px;
}